*.Identifier
backend/wp-admin/
backend/wp-admin/a
backend/wp-content/languages/
backend/wp-content/themes/twentytwentyfive/
backend/wp-includes/
backend/.htaccess
backend/index.php
backend/license.txt
backend/readme.html
backend/wp-activate.php
backend/wp-blog-header.php
backend/wp-comments-post.php
backend/wp-config-sample.php
backend/wp-config.php
backend/wp-cron.php
backend/wp-links-opml.php
backend/wp-load.php
backend/wp-login.php
backend/wp-mail.php
backend/wp-settings.php
backend/wp-signup.php
backend/wp-trackback.php
backend/xmlrpc.php
backend/wp-content/debug.log
backend/wp-content/index.php
backend/wp-content/themes/moove/info.php
backend/wp-content/uploads/
backend/wp-content/themes/moove/readme.txt
backend/wp-content/themes/twentytwentythree
backend/wp-content/themes/twentytwentyfour
frontend/tsconfig.json
frontend/.next/
frontend/node_modules/
.env.local
frontend/.env.local
.env.vercel
frontend/.vercel/README.txt
backend/wp-content/plugins/advanced-custom-fields/
backend/wp-content/plugins/akismet/
backend/wp-content/plugins/advanced-custom-fields-pro/
backend/wp-content/plugins/jwt-authentication-for-wp-rest-api/
nul
frontend/tsconfig.tsbuildinfo
backend/wp-content/plugins/duplicate-page/ 
